{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-12 detail-image-container">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
                <!-- Post title goes in these h1 tags -->
                <h1 class="asset-title">{{ post.title }} ({{ post.ticker }})</h1>
            </div>
            <div class="col-md-8">
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>



{% endblock content %}